
figure {margin: 0}

.gutter {padding: 0 5%;
box-sizing: border-box}

body {font-family: 'Ubuntu', sans-serif;
background-color: #ffffff;
margin: 0
}

#orange {flex-grow: 1;
flex-direction: row;
display: flex;
align-items: center;
margin: 0;
font-size: .5em;
padding: 1%;
}
#cart {align-items: right;
margin: 0 0 0 10%}

#search {align-items: right;
margin: 0 0 0 2%}

#topbar {background-color: #fa6938;
color: white;
height: 10%;}

#topbar nav {width: 100%}

#orange a {text-decoration: none;
color: inherit}

#springsavings {list-style: none; 
text-decoration: none;
padding: 1%
}

#freeshipping {background-color: #c7532c;
border-style: none;
border-radius:3px;
color: white;
padding:.5;
text-align: center;
text-transform: uppercase;
margin: 0%}

#stbar {background-image: url("assets/perforated-bottom@2x.png");
background-repeat: repeat-x;
background-color: #ffffff;
padding: 5px
}

#descriptors p {margin: 0;
padding: 2%}

#descriptors {flex-grow: 1;
flex-direction: row;
display: flex;
align-items: center;
padding: 2%;
}

#descriptors p {font-size: 4em;
}

#aasign {
margin: 0;
position: absolute;
right: 3%;
}


#asignin {display: flex;
margin: 0;
width: 15%;
float: right
}

#signin1 {text-decoration: none;
padding: 3%;
flex-grow: 1;
flex-direction: row;
text-align: right;
color: gray;
display: inline;
font-size: .5em;
}

#signin2 {padding: 3%;
text-decoration: none;
color: gray;
display: inline;
font-size: .5em;
}

ul
{list-style-type: none;
text-decoration: none}

#tiebank {display: flex;
flex-direction: row;
justify-content: center;
}

#tiebank figcaption {text-align: center;
font-size: 1em;
font-weight: 300;
}
#black {width: 200px;}
#blue {width: 200px;}
#collegiate {width: 200px;}
#cotton {width: 200px;}
#favorites {width: 200px;}
#graphic {width: 200px;}
#plaid {width: 200px;}
#silk {width: 200px;}
#striped {width: 200px;}

#dress {display: block;
background-color: #f4f4f4}

h1 {display: block;
text-align: center;
align-self: flex-end; 
font-size: 6em;
padding: 3%;
margin: 0}

#accessories figcaption {position: absolute;
top: 10%;
right: 5%;
padding: 2%;
font-size: 3em;
display: inline-block;
width: 30%;
font-weight: 700;
text-align: right
}

#accessories figure {
position: relative;
}
#bowtie {width: 800px}
#pocket {width: 800px}
#tiebar {width: 800px}
#accessories {display: flex;
flex-direction: row;
justify-content: space-around;
margin: 3%; 

}



#what p {text-align: center;
font-size: 5em;
font-style: italic;
margin: 0;
padding: 1%;

}

#what a {text-decoration: none;
color: deepskyblue;

}
#what {list-style: none;
}

#what li {text-align: center;
font-size: 1em;
padding: 2% 0 10% 0}

#thehell {background-image: url("assets/hatch-light@2x.png");
background-repeat: repeat-x;
padding: 5%}

#perf {background-image: url("assets/perforated-bottom@2x.png");
background-repeat: repeat-x;
padding: 1%}

#lowerboxes {
    display: flex;
    flex-direction: row;

}

footer {display: flex;
flex-direction: row;}

footer div {display: flex;
flex-direction: column;

padding: 1%}

footer a {text-decoration: none;
color: gray;}

#graybox {background-color: #a2afc0;
color: white;
font-size: 2em;}

#lastlines p {display: inline-block;
padding: 1%;
font-size: .25em;
color: grey}